<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN LOGIN</title>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="./styleView.css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- favicon/logo -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  <section id="alchemLoginSection">
    <div id="alchemLogin">
      <h1>ALCHEMIST LOGIN</h1>
      <p>SECRETS BEHIND THE MADNESS AWAIT</p>
      <div class="panel">
        <form>
          <ul>
            <li>
              <input required type='email' placeholder="EMAIL">
            </li>
            <li>
              <input required type='password' placeholder="PASSWORD">
            </li>
            <li>
              <button class="btn btn-gold">ENTER</button>
            </li>
          </ul>
        </form>
        <!-- <hr> -->
        <div class="sideline"></div>
        <div>
          <button>FACEBOOK BUTTON</button>
          <button>GOOGLE BUTTON</button>
        </div>
      </div>
      <!-- SHOULD REDIRECT BACK TO PREVIOUS LINK -->
      <a href="./homeView.html">Back To Site</a>
    </div>
  </section>
</body>
</html>
