<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ALCHEMIST DASH</title>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="./styleView.css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- favicon/logo -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  <section style="z-index: 50;" id="alchemistDashSection">
    <div id="alchemCabinet">
      <h1>The Alchemist's Cabinet</h1>
      <div id="alchemOptions" style="display: none;">
        <a>
          <!-- <img src="./imagesViews/jorge-zapata-ca7YfP8eUj0-unsplash.jpg"> -->
          <h2>Add Product</h2>
        </a>
        <a>
          <!-- <img src="./imagesViews/joanna-kosinska-MnKWt1W1GDg-unsplash.jpg"> -->
          <h2>Products</h2>
        </a>
        <a>
          <!-- <img src="./imagesViews/ula-kuzma-19vkG-Devqg-unsplash.jpg"> -->
          <h2>Master List</h2>
        </a>
        <a>
          <!-- <img src="./imagesViews/freestocks-uqzIUz9NczE-unsplash.jpg"> -->
          <h2>Orders</h2>
        </a>
      </div>
      <div id="alchemProdPanel" style="display:  none; z-index:53;">
        <div id="alchemProdHeader">
          <h2>PRODUCT LOGGER</h2>
        </div>
        <div id="alchemProdCont">
          <select>
            <option selected>All Products</option>
            <option>Emotes</option>
            <option>Elixirs</option>
            <option>Relics</option>
            <option>Conduits</option>
            <option>Literature</option>
          </select>
          <div>
            <div class="alchemProd">
              <ul>
                <li>
                  <img src="./imagesViews/hue12-photography-8rTwokBwz1w-unsplash.jpg">
                </li>
                <li>
                  <p>Product Name:</p>
                  <span>NAME</span>
                </li>
                <li>
                  <p>Prod QTY:</p>
                  <span>QTY</span>
                </li>
                <li>
                  <p>Prod Price:</p>
                  <span>PRICE &#164;</span>
                </li>
                <li>
                  <p>Prod ID:</p>
                  <span>ID</span>
                </li>
                <li>
                  <a class="btn">edit</a>
                  <a class="btn"><i class="material-icons">delete</i></a>
                </li>
              </ul>
            </div>
            <div class="alchemProd">
              <ul>
                <li>
                  <img src="./imagesViews/hue12-photography-8rTwokBwz1w-unsplash.jpg">
                </li>
                <li>
                  <p>Product Name:</p>
                  <span>NAME</span>
                </li>
                <li>
                  <p>Prod QTY:</p>
                  <span>QTY</span>
                </li>
                <li>
                  <p>Prod Price:</p>
                  <span>PRICE &#164;</span>
                </li>
                <li>
                  <p>Prod ID:</p>
                  <span>ID</span>
                </li>
                <li>
                  <a class="btn">edit</a>
                  <a class="btn"><i class="material-icons">delete</i></a>
                </li>
              </ul>
            </div>
            <div class="alchemProd">
              <ul>
                <li>
                  <img src="./imagesViews/hue12-photography-8rTwokBwz1w-unsplash.jpg">
                </li>
                <li>
                  <p>Product Name:</p>
                  <span>NAME</span>
                </li>
                <li>
                  <p>Prod QTY:</p>
                  <span>QTY</span>
                </li>
                <li>
                  <p>Prod Price:</p>
                  <span>PRICE &#164;</span>
                </li>
                <li>
                  <p>Prod ID:</p>
                  <span>ID</span>
                </li>
                <li>
                  <a class="btn">edit</a>
                  <a class="btn"><i class="material-icons">delete</i></a>
                </li>
              </ul>
            </div>
            <div class="alchemProd">
              <ul>
                <li>
                  <img src="./imagesViews/hue12-photography-8rTwokBwz1w-unsplash.jpg">
                </li>
                <li>
                  <p>Product Name:</p>
                  <span>NAME</span>
                </li>
                <li>
                  <p>Prod QTY:</p>
                  <span>QTY</span>
                </li>
                <li>
                  <p>Prod Price:</p>
                  <span>PRICE &#164;</span>
                </li>
                <li>
                  <p>Prod ID:</p>
                  <span>ID</span>
                </li>
                <li>
                  <a class="btn">edit</a>
                  <a class="btn"><i class="material-icons">delete</i></a>
                </li>
              </ul>
            </div>
            <div class="alchemProd">
              <ul>
                <li>
                  <img src="./imagesViews/hue12-photography-8rTwokBwz1w-unsplash.jpg">
                </li>
                <li>
                  <p>Product Name:</p>
                  <span>NAME</span>
                </li>
                <li>
                  <p>Prod QTY:</p>
                  <!-- MAY BE A SELECT? -->
                  <span>QTY</span>
                </li>
                <li>
                  <p>Prod Price:</p>
                  <span>PRICE &#164;</span>
                </li>
                <li>
                  <p>Prod ID:</p>
                  <span>ID</span>
                </li>
                <li>
                  <a class="btn">edit</a>
                  <a class="btn"><i class="material-icons">delete</i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="alchemOrderPanel" style="display: none;">
        <div id="alchemOrderHeader">
          <h2>ORDER LOGGER</h2>
        </div>
        <div id="alchemOrderCont">
          <!-- ONLY THE ORDERS THAT AREN'T CARTS! -->
          <div class="alchemOrder">
            <ul>
              <li>
                <h3>Order Placed: </h3>
                <span>DATE</span>
              </li>
              <li>
                <h3>Total Price: </h3>
                <span>PRICE &#164;</span>
              </li>
              <li>
                <h3>Total Items: </h3>
                <span>ITEM QTY</span>
              </li>
              <li>
                <h3>Order Status: </h3>
                <!-- ONRENDER THE VALUE SHOULD BE SET TO THE VALUE OF THE STATUS -->
                <!-- ONCHANGE UPDATE THE VALUE OF THE ORDER STATUS -->
                <select value="processing">
                  <option value="processing">PROCESSING</option>
                  <option value="canceled">CANCELED</option>
                  <option value="completed">COMPLETED</option>
                </select>
                <!-- <span>STATUS</span> -->
              </li>
              <li>
                <!-- LINKS TO SPECIFIC ORDER DETAILS -->
                <a href="./orderDetails.html" class="btn btnToWhite">Order Details</a>
              </li>
            </ul>
          </div>
          <div class="alchemOrder">
            <ul>
              <li>
                <h3>Order Placed: </h3>
                <span>DATE</span>
              </li>
              <li>
                <h3>Total Price: </h3>
                <span>PRICE &#164;</span>
              </li>
              <li>
                <h3>Total Items: </h3>
                <span>ITEM QTY</span>
              </li>
              <li>
                <h3>Order Status: </h3>
                <!-- ONRENDER THE VALUE SHOULD BE SET TO THE VALUE OF THE STATUS -->
                <!-- ONCHANGE UPDATE THE VALUE OF THE ORDER STATUS -->
                <select value="processing">
                  <option value="processing">PROCESSING</option>
                  <option value="canceled">CANCELED</option>
                  <option value="completed">COMPLETED</option>
                </select>
                <!-- <span>STATUS</span> -->
              </li>
              <li>
                <!-- LINKS TO SPECIFIC ORDER DETAILS -->
                <a href="./orderDetails.html" class="btn btnToWhite">Order Details</a>
              </li>
            </ul>
          </div>
          <div class="alchemOrder">
            <ul>
              <li>
                <h3>Order Placed: </h3>
                <span>DATE</span>
              </li>
              <li>
                <h3>Total Price: </h3>
                <span>PRICE &#164;</span>
              </li>
              <li>
                <h3>Total Items: </h3>
                <span>ITEM QTY</span>
              </li>
              <li>
                <h3>Order Status: </h3>
                <!-- ONRENDER THE VALUE SHOULD BE SET TO THE VALUE OF THE STATUS -->
                <!-- ONCHANGE UPDATE THE VALUE OF THE ORDER STATUS -->
                <select value="processing">
                  <option value="processing">PROCESSING</option>
                  <option value="canceled">CANCELED</option>
                  <option value="completed">COMPLETED</option>
                </select>
                <!-- <span>STATUS</span> -->
              </li>
              <li>
                <!-- LINKS TO SPECIFIC ORDER DETAILS -->
                <a href="./orderDetails.html" class="btn btnToWhite">Order Details</a>
              </li>
            </ul>
          </div>
          <div class="alchemOrder">
            <ul>
              <li>
                <h3>Order Placed: </h3>
                <span>DATE</span>
              </li>
              <li>
                <h3>Total Price: </h3>
                <span>PRICE &#164;</span>
              </li>
              <li>
                <h3>Total Items: </h3>
                <span>ITEM QTY</span>
              </li>
              <li>
                <h3>Order Status: </h3>
                <!-- ONRENDER THE VALUE SHOULD BE SET TO THE VALUE OF THE STATUS -->
                <!-- ONCHANGE UPDATE THE VALUE OF THE ORDER STATUS -->
                <select value="processing">
                  <option value="processing">PROCESSING</option>
                  <option value="canceled">CANCELED</option>
                  <option value="completed">COMPLETED</option>
                </select>
                <!-- <span>STATUS</span> -->
              </li>
              <li>
                <!-- LINKS TO SPECIFIC ORDER DETAILS -->
                <a href="./orderDetails.html" class="btn btnToWhite">Order Details</a>
              </li>
            </ul>
          </div>
          <div class="alchemOrder">
            <ul>
              <li>
                <h3>Order Placed: </h3>
                <span>DATE</span>
              </li>
              <li>
                <h3>Total Price: </h3>
                <span>PRICE &#164;</span>
              </li>
              <li>
                <h3>Total Items: </h3>
                <span>ITEM QTY</span>
              </li>
              <li>
                <h3>Order Status: </h3>
                <!-- ONRENDER THE VALUE SHOULD BE SET TO THE VALUE OF THE STATUS -->
                <!-- ONCHANGE UPDATE THE VALUE OF THE ORDER STATUS -->
                <select value="processing">
                  <option value="processing">PROCESSING</option>
                  <option value="canceled">CANCELED</option>
                  <option value="completed">COMPLETED</option>
                </select>
                <!-- <span>STATUS</span> -->
              </li>
              <li>
                <!-- LINKS TO SPECIFIC ORDER DETAILS -->
                <a href="./orderDetails.html" class="btn btnToWhite">Order Details</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="alchemMastersPanel">
        <div id="alchemMastersHeader">
          <h2>MASTER LIST</h2>
        </div>
        <div id="alchemMastersCont">
          <select>
            <option selected>Masters</option>
            <option>Alchemists</option>

          </select>
          <div class="alchemMaster">
            <ul>
              <li>
                <p>Master Name:</p>
                <span>NAME</span>
              </li>
              <li>
                <p>Master Id:</p>
                <span>ID</span>
              </li>
              <li>
                <p>Order Qty:</p>
                <span>QTY</span>
              </li>
              <li>
                <!-- ONCHANGE UPDATE USER TYPE VALUE -->
                <p>Type:</p>
                <select value="Master">
                  <option value="Master">Master</option>
                  <option value="Alchemist">Alchemist</option>
                </select>
              </li>
              <li>
                <p>Pass Reset?</p>
                <input type="checkbox">
              </li>
              <li>
                <a class="btn">Delete</a>
              </li>
            </ul>
          </div>
          <div class="alchemMaster">
            <ul>
              <li>
                <p>Master Name:</p>
                <span>NAME</span>
              </li>
              <li>
                <p>Master Id:</p>
                <span>ID</span>
              </li>
              <li>
                <p>Order Qty:</p>
                <span>QTY</span>
              </li>
              <li>
                <!-- ONCHANGE UPDATE USER TYPE VALUE -->
                <p>Type:</p>
                <select value="Master">
                  <option value="Master">Master</option>
                  <option value="Alchemist">Alchemist</option>
                </select>
              </li>
              <li>
                <p>Pass Reset?</p>
                <input type="checkbox">
              </li>
              <li>
                <a class="btn">Delete</a>
              </li>
            </ul>
          </div>
          <div class="alchemMaster">
            <ul>
              <li>
                <p>Master Name:</p>
                <span>NAME</span>
              </li>
              <li>
                <p>Master Id:</p>
                <span>ID</span>
              </li>
              <li>
                <p>Order Qty:</p>
                <span>QTY</span>
              </li>
              <li>
                <!-- ONCHANGE UPDATE USER TYPE VALUE -->
                <p>Type:</p>
                <select value="Master">
                  <option value="Master">Master</option>
                  <option value="Alchemist">Alchemist</option>
                </select>
              </li>
              <li>
                <p>Pass Reset?</p>
                <input type="checkbox">
              </li>
              <li>
                <a class="btn">Delete</a>
              </li>
            </ul>
          </div>
          <div class="alchemMaster">
            <ul>
              <li>
                <p>Master Name:</p>
                <span>NAME</span>
              </li>
              <li>
                <p>Master Id:</p>
                <span>ID</span>
              </li>
              <li>
                <p>Order Qty:</p>
                <span>QTY</span>
              </li>
              <li>
                <!-- ONCHANGE UPDATE USER TYPE VALUE -->
                <p>Type:</p>
                <select value="Master">
                  <option value="Master">Master</option>
                  <option value="Alchemist">Alchemist</option>
                </select>
              </li>
              <li>
                <p>Pass Reset?</p>
                <input type="checkbox">
              </li>
              <li>
                <a class="btn">Delete</a>
              </li>
            </ul>
          </div>
          <div class="alchemMaster">
            <ul>
              <li>
                <p>Master Name:</p>
                <span>NAME</span>
              </li>
              <li>
                <p>Master Id:</p>
                <span>ID</span>
              </li>
              <li>
                <p>Order Qty:</p>
                <span>QTY</span>
              </li>
              <li>
                <!-- ONCHANGE UPDATE USER TYPE VALUE -->
                <p>Type:</p>
                <select value="Master">
                  <option value="Master">Master</option>
                  <option value="Alchemist">Alchemist</option>
                </select>
              </li>
              <li>
                <p>Pass Reset?</p>
                <input type="checkbox">
              </li>
              <li>
                <a class="btn">Delete</a>
              </li>
            </ul>
          </div>
        </div>


      </div>

    </div>


  </section>
</body>
</html>
