<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CART</title>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="./styleView.css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
</head>
<body>
  <section id='cartSection'>
    <div id="theCart">
      <h1>Welcome To Your Cart</h1>
      <div class="slimProd">
        <!-- PRODUCT PICTURE HERE -->
        <img src="">
        <h3>PRODUCT NAME</h3>
        <p>Quantity:</p>
        <form>
          <input type="number" max="10" min="1" value='1'>
        </form>
        <p>Price: <span>A PRICE &#164;</span></p>
        <a class="btn">Delete</a>
      </div>
      <div class="slimProd">
        <!-- PRODUCT PICTURE HERE -->
        <img src="">
        <h3>PRODUCT NAME</h3>
        <p>Quantity:</p>
        <form>
          <input type="number" max="10" min="1" value='1'>
        </form>
        <p>Price: <span>A PRICE &#164;</span></p>
        <a class="btn">Delete</a>
      </div>
      <div class="slimProd">
        <!-- PRODUCT PICTURE HERE -->
        <img src="">
        <h3>PRODUCT NAME</h3>
        <p>Quantity:</p>
        <form>
          <input type="number" max="10" min="1" value='1'>
        </form>
        <p>Price: <span>A PRICE &#164;</span></p>
        <a class="btn">Delete</a>
      </div>
      <div class="slimProd">
        <!-- PRODUCT PICTURE HERE -->
        <img src="">
        <h3>PRODUCT NAME</h3>
        <p>Quantity:</p>
        <form>
          <input type="number" max="10" min="1" value='1'>
        </form>
        <p>Price: <span>A PRICE &#164;</span></p>
        <a class="btn">Delete</a>
      </div>
      <div class="slimProd">
        <!-- PRODUCT PICTURE HERE -->
        <img src="">
        <h3>PRODUCT NAME</h3>
        <p>Quantity:</p>
        <form>
          <input type="number" max="10" min="1" value='1'>
        </form>
        <p>Price: <span>A PRICE &#164;</span></p>
        <a class="btn">Delete</a>
      </div>
      <div class="slimProd">
        <!-- PRODUCT PICTURE HERE -->
        <img src="">
        <h3>PRODUCT NAME</h3>
        <p>Quantity:</p>
        <form>
          <input type="number" max="10" min="1" value='1'>
        </form>
        <p>Price: <span>A PRICE &#164;</span></p>
        <a class="btn">Delete</a>
      </div>
      <hr>
      <p>Subtotal <span>MONEY &#164;</span></p>
    </div>
    <div id="theSummary">
      <div>
        <h2>Order Summary</h2>
        <p>Subtotal: <span>MONEY &#164;</span></p>
        <p>Estimated Taxes: <span>MONEY &#164;</span></p>
        <hr>
        <p>Total: <span>MONEY &#164;</span></p>
        <a class="btn btn-gold">Proceed To Checkout</a>
      </div>
    </div>
  </section>
</body>
</html>
