<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="./styleView.css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
</head>
<body>
  <section id="checkoutSection">
    <form id="ckotForms">
      <div id="personalDetails">
        <!-- <form> -->
          <h3>Personal Details</h3>
          <input required type="text" placeholder="Name">
          <input required type="email" placeholder="Email">
        <!-- </form> -->
      </div>
      <div id="shippingAddress">
        <!-- <form> -->
          <!-- <form> -->
            <h3>Shipping Address</h3>
            <ul>
              <li>
                <input required type="text" placeholder="First Name">
                <input required type="Last Name" placeholder="Last Name">
              </li>
              <li>
                <input required type="text" placeholder="Address">
              </li>
              <li>
                <input type="text" placeholder="Apt, etc...">
              </li>
              <li>
                <input type="text" placeholder="City">
                <input type="text" maxlength="2" placeholder="State">
                 <!-- //how do we check if its not a string though, how do we force numbers without giving a selection... -->
                <input type="text" minlength="5" maxlength="5" placeholder="Zip Code">
              </li>
              <li>
                <select value=1>
                  <option value=1>Select Nation</option>
                  <option>Fire</option>
                  <option>Water</option>
                  <option>Earth</option>
                  <option>Air</option>
                </select>
              </li>
            </ul>
          <!-- </form> -->
        <!-- </form> -->
      </div>
      <div id="billingInfo">
        <!-- //how do we check if its not a string though, how do we force numbers without giving a selection... -->
        <h3>Card Information</h3>
          <input type="text" minlength="16" maxlength="16" placeholder="Card Number">
          <input type="text" placeholder="Name Cn Card">
          <!-- <li> -->
            <select>
              <option>Exp.M</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select>
              <option>Exp.Y</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
            </select>
          <!-- </li> -->
      </div>
      <button type="submit">PURCHASE</button>
    </form>
    <div id="cartSummary">
      <div>
        <h2>Cart Summary <span><a class="btn">(edit)</a></span></h2>
        <div class="checkProd">
          <h3>PRODUCT NAME</h3>
          <p>PRODUCT QTY</p>
        </div>
        <hr>
        <p>Subtotal: MONEY &#164;</p>
        <p>Taxes: MONEY &#164;</p>
        <p>Total: MONEY &#164;</p>
      </div>
    </div>
  </section>
</body>
</html>
