<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Main Navigation -->
  <nav>
    <a>HOME LOGO CLICKABLE</a>
    <a href="">Who We Are</a>
    <a>Products</a>
    <a href="">Login</a>
  </nav>
  <section>

  </section>
</body>
</html>
