<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="./styleView.css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- favicon/logo -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  <!-- Main Navigation -->
  <nav id="mainNav">
    <ul>
      <li>
        <!-- GOES TO HOME PAGE -->
        <a id="logoMainNav" href="">
          <img src="./imagesViews/gslogopic.jpg">
        </a>
        <p>UTONIUM</p>
      </li>
      <li>
        <a href="">Who We Are</a>
      </li>
      <li>
        <a href="productsView.html">Products</a>
      </li>
      <li>
        <a class="activeMainNav"href="./signUpView.html">
          <i style="font-size: 36px"class="material-icons">face</i>
          <!-- TURNS INTO "DASHBOARD" AFTER SUCCESSFUL LOGIN, LOGOUT WILL BE HANDLED ON THE DASHBOARDVIEW -->
          Login
        </a>
      </li>
      <li>
        <a id="shopBag" href="">
          <i style="font-size: 48px" class="material-icons">shopping_bag</i>
          <!-- SHOULD REFLECT CART QTY -->
          <p>0</p>
        </a>
      </li>
    </ul>
  </nav>
  <section id="homePageSection">
    <div id=homeFirst>
      <div>
        <div id="showLogo">
          <h1>UTONIUM</h1>
          <!-- CHANGE TO PICTURES FOLDER -->
          <img src="./imagesViews/gslogopic.jpg">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum eius aspernatur eveniet, quo excepturi nulla est! Laudantium beatae iure exercitationem.</p>
        <div>
          <!-- TO PRODUCTS LINK -->
          <a class="btn btn-gold">Shop Products</a>
          <a HREF="#quality"class="btn btn-gold">Our Quality</a>
        </div>
      </div>
    </div>
    <div id="quality">
      <h2>Our Quality</h2>
      <div id="prodIcons">
        <ul>
          <li>
            <i style="font-size: 48px" class="material-icons">emoji_emotions</i>
            <label>Emotes</label>
          </li>
          <li>
            <i style="font-size: 48px" class="material-icons">science</i>
            <label>Elixirs</label>
          </li>
          <li>
            <i style="font-size: 48px" class="material-icons">ac_unit</i>
            <label>Relics</label>
          </li>
          <li>
            <i style="font-size: 48px" class="material-icons">fingerprint</i>
            <label>Conduits</label>
          </li>
          <li>
            <i style="font-size: 48px" class="material-icons">book</i>
            <label>Literatures</label>
          </li>
        </ul>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi veniam animi fugit minima omnis rerum minus, quod veritatis hic, reprehenderit ab. Eaque saepe atque odio sint dolorem qui, deserunt suscipit eius, illum, pariatur asperiores fugit aut exercitationem officiis voluptates molestias id! Rerum, alias! Atque obcaecati quidem, veniam ducimus provident aliquam.</p>
      <!-- TO PRODUCTS LINK -->
      <a class="btn btn-gold">View Products</a>
    </div>
    <div id="membership">
      <h2>Members Get More</h2>
      <div>
        <ul>
          <li>
            <i style="font-size: 48px" class="material-icons">star</i>
            <label>Orders History</label>
          </li>
          <li>
            <i style="font-size: 48px" class="material-icons">star</i>
            <label>Address Storing</label>
          </li>
          <li>
            <i style="font-size: 48px" class="material-icons">star</i>
            <label>Special Discounts</label>
          </li>
        </ul>
        <div class="sidebar"></div>
        <div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel natus deserunt facilis, voluptatum tempora temporibus sed ipsam molestias ea quod ab. Provident at rem, voluptates autem facere soluta? </p>
          <!-- TO SIGN UP LINK -->
          <a class="btn btn-gold">Sign Up!</a>
        </div>
      </div>
    </div>
    <div id="appSoon">
      <h2>BLA BLA BLA!</h2>
      <img>
      <div class="sidebar">hi</div>
      <div></div>
    </div>
  </section>
</body>
</html>
