<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NAV/FOOTER</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="./styleView.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
    <!-- ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <!-- favicon/logo -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
  <nav id="mainNav">
    <ul>
      <li>
        <!-- GOES TO HOME PAGE -->
        <a id="logoMainNav" href="">
          <img src="./imagesViews/gslogopic.jpg">
        </a>
        <p>UTONIUM</p>
      </li>
      <li>
        <a href="">Who We Are</a>
      </li>
      <li>
        <a href="productsView.html">Products</a>
      </li>
      <li>
        <a class="activeMainNav"href="./signUpView.html">
          <i style="font-size: 36px"class="material-icons">face</i>
          <!-- TURNS INTO "DASHBOARD" AFTER SUCCESSFUL LOGIN, LOGOUT WILL BE HANDLED ON THE DASHBOARDVIEW -->
          Login
        </a>
      </li>
      <li>
        <a id="shopBag" href="">
          <i style="font-size: 48px" class="material-icons">shopping_bag</i>
          <!-- SHOULD REFLECT CART QTY -->
          <p>0</p>
        </a>
      </li>
    </ul>
  </nav>
  <footer>
    <p>UTONIUM <i style="color: orange;" class="material-icons">copyright</i>2020</p>
    <p>Low Skrull Prices. High Quality Standards. Forever.</p>
    <!-- SHOULD GO BACK TO HOME VIEW -->
    <a href="./alchemLoginView.html">Alchemists</a>
  </footer>
</body>
</html>
