<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGN UP/LOG IN</title>
  <link rel="stylesheet" href="./styleView.css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
  <!-- FAVICON -->
</head>
<body>
  <!-- <nav>

  </nav> -->
  <section id="signupSection">
    <div id="noAccount">
      <!-- <p>X</p> -->
      <h1>Sign Up</h2>
      <p>A Novice Becomes a Master...</p>
      <div class="panel">
        <form>
          <ul>
            <li>
              <input required type="text" placeholder="FIRST NOMEN">
            </li>
            <li>
              <input required type="text" placeholder="LAST NOMEN">
            </li>
            <li>
              <input required type='email' placeholder="EMAIL">
            </li>
            <li>
              <input required type='password' placeholder="PASSWORD">
            </li>
            <li>
              <button type="submit" class="btn">Sign Up!</button>
            </li>
          </ul>
        </form>
        <!-- <hr> -->
        <div class="sideline"></div>
        <div>
          <!-- <h3>SIGN UP VIA THIRD PARTY</h3> -->
          <button>FACEBOOK BUTTON</button>
          <button>GOOGLE BUTTON</button>
        </div>
      </div>
      <a href="#loginSection">Have an account with us already?</a>
    </div>
    <!-- <div id="hasAccount">
      <h1>Log In</h1>
      <div class="panel">
        <form>
          <ul>
            <li>
              <input required type='email' placeholder="EMAIL">
            </li>
            <li>
              <input required type='password' placeholder="PASSWORD">
            </li>
            <li>
              <button class="btn">Log In!</button>
            </li>
          </ul>
        </form>
        <div class="sideline"></div>
        <div>
          <button>FACEBOOK BUTTON</button>
          <button>GOOGLE BUTTON</button>
        </div>
      </div>
      <a href="" onclick="toggleSignLog()">Dont have an account? Sign Up Here!</a>
    </div> -->
  </section>

  <section id="loginSection">
    <div id="hasAccount">
      <h1>Log In</h1>
      <p>A Master Returns...</p>
      <div class="panel">
        <form>
          <ul>
            <li>
              <input required type='email' placeholder="EMAIL">
            </li>
            <li>
              <input required type='password' placeholder="PASSWORD">
            </li>
            <li>
              <button class="btn">Log In!</button>
            </li>
          </ul>
        </form>
        <!-- <hr> -->
        <div class="sideline"></div>
        <div>
          <button>FACEBOOK BUTTON</button>
          <button>GOOGLE BUTTON</button>
        </div>
      </div>
      <a href="#signupSection">Dont have an account? Sign Up Here!</a>
    </div>
  </section>
</body>
<!-- <script>
  function toggleSignLog(){
    let login = document.getElementById('hasAccount')
    let signup = document.getElementById('noAccount')
    let section = document.getElementById('signupSection')

    if(login.style.display === 'none'){
      signup.style.display = 'none'
      login.style.display = 'flex'
      section.style.backgroundColor = '#F77F00'
      login.style.color = 'white'
    }
    // else if(signup.style.display === 'none'){
    //   login.style.display = 'none'
    //   signup.style.display - 'flex'
    // }
  }
</script> -->
</html>
