<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SingleProduct</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="./styleView.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Merienda:wght@400;700&family=Metal+Mania&family=Piedra&display=swap" rel="stylesheet">
</head>
<body>
  <section id="singleProdSection">
    <div id="theProd">
        <div id="imageCont">
          <img id="mainImage" src="./imagesViews/hue12-photography-8rTwokBwz1w-unsplash.jpg">
          <div id="prodImgNav">
            <!-- NEEDS ONCLICK FUNCTION THAT CHANGES MAINIMAGE SRC AND PLACES CLASSNAME -->
            <a href="">
              <img class="activeProdImg" src="./imagesViews/hue12-photography-8rTwokBwz1w-unsplash.jpg">
            </a>
            <a href="">
              <img src="./imagesViews/annie-spratt-xt79nQxc9Q0-unsplash.jpg">
            </a>
          </div>
        </div>
        <div id="prodDetails">
          <h1>PRODUCT NAME</h1>
          <p>PRODUCT DESCRIPTION Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque iusto, vitae pariatur aut illum tempore, quaerat quidem sequi eos atque ad ipsa a voluptatibus magni at earum ratione dignissimos deleniti quibusdam, repellendus asperiores eius ipsam. Molestiae, voluptatum non! Eligendi quibusdam repellat reiciendis ex minima. A placeat et officia culpa vero.</p>
          <a class="btn">ADD TO CART</a>
        </div>
    </div>

  </section>
</body>
</html>
